:root {
  --black: #1B1F3B;
  --gray: #d5d5d5;
  --blue: #3686BB;
  --blue-dark: #2A73A3;
  --blue-hover: #165F8E;
  --green: #91B3A6;
  --green-hover: #4b6158;
  --red: #DD4C1E;
  --red-hover: #E38163;
  --link: #526ED3;
  --link-hover: #6C86E2;
  --white: #FFFFFF;
}
