:root {
  --black: #081517;
  --gray: #707485;
  --blue: #3B68B0;
  --blue-hover: hsla(222, 100%, 88%, 0.176);
  --green: #1B5046;
  --green-status: #2D8665;
  --green-hover: #C6ECD6;
  --red: #B4443C;
  --brown: #361812;
  --white: #FDFEFB;
}
